.invoice-details {
  border-radius: 10px;
  background: linear-gradient(90deg, #111e6c 0%, #ef434e 250%);

  h1 {
    font-size: 0.9rem;
    padding: 10px 20px;
    color: #e5e7ef;
  }
}

.invoices {
  width: 100%;
  table-layout: fixed;
  border: 10px;
  border-spacing: 0;
  //border-spacing: 0 1px;
}

th {
  text-align: left;
  font-size: 0.7rem;
  padding: 13px;
}

tr {
  background: whitesmoke;
  //border-top: 2px solid #969696;
}

td {
  text-align: left;
  font-size: 0.7rem;
  padding: 13px;
  width: 20%;
  border-top: 1px solid #969696;
}