#range-selector {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background: white;
  padding: 5px;
  border-radius: 5px;
}

button.selector {
  width: 30vw;
  padding: 5px;
  border-radius: 25px;

  &:hover {
    animation: range-selector-hover 0.3s ease 0s 1 normal forwards running;
  }
}

@keyframes range-selector-hover {
  from {
    background-color: transparent;
  }
  to {
    background-color: #d1d1d1;
  }
}

@media screen and (min-width: 1000px) {
  #range-selector {
    width: fit-content;
  }

  button.selector {
    width: 15vw;
  }
}