/* Theme Colors */
$bold-blue: #111e6c;
$bold-red: #ef434e;
$bold-dark-gray: #323232;
$bold-light-gray: #969696;
$bold-background: #e5e7ef;

/* Theme Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
$font-montserrat: 'Montserrat', sans-serif;