.main-content {
  padding: 3vw;
  padding-top: 5vh;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  padding: 20px 0px;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .content-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 20px;
  }
}